# node_modules
node_modules/

# expo
.expo/
dist/
web-build/

# macOS
.DS_Store

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# env files (Bảo mật - RẤT QUAN TRỌNG)
.env
.env.local
.env.*.local

# android/ios build
android/
ios/